# Dependencias de Node.js (se instalan con 'npm install')
node_modules/

# Archivos de variables de entorno y claves sensibles
.env
.env.local
.env.*.local

# Registros de errores y ejecuciones
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración local de IDEs / Editores
.vscode/
.idea/
